@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
    padding-bottom:30px;
    background-size: cover;
}
.main-heading {
     text-align: center;
    color: #ffffff;
    background-color: #323f4b;
    padding:13px;
}
.container{
    display:flex;
    flex-direction: column;
    margin-top:50px;
}
.paragraph-r {
    text-align: left;
    color: #ffffff;
    background-color: #52606d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    margin-right:15px;
    margin-left: 15px;
}

.paragraph-l {
    text-align:right;
    color: #ffffff;
    background-color: #47a3f3;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin-right:15px;
    margin-left: 15px;
}
